@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.Extensions.Options
@using ActionCommandGame.BlazorApp.Settings
@inject IOptions<AppSettings> AppSettings
@inject AuthenticationStateProvider AuthProvider
@inject ITokenStore TokenStore
@inject NavigationManager Nav


<nav class="navmenu">
    <div class="container nav-inner">
        <ul class="nav-list">
            <li class="nav-item">
                <NavLink href="@AppRoutes.Player.PlayerSelection" class="nav-link" Match="NavLinkMatch.All">
                    Player Selection
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="@AppRoutes.Game.Action" class="nav-link" Match="NavLinkMatch.All">
                    @AppSettings.Value.Action
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="@AppRoutes.Game.Shop" class="nav-link" Match="NavLinkMatch.All">
                    Shop
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink href="@AppRoutes.Game.Inventory" class="nav-link" Match="NavLinkMatch.All">
                    Inventory
                </NavLink>
            </li>
            <AuthorizeView Roles="SuperAdmin">
                <li class="nav-item">
                    <NavLink href="/admin" class="nav-link" Match="NavLinkMatch.All">
                        <span class="oi oi-cog" aria-hidden="true"></span> Admin
                    </NavLink>
                </li>
            </AuthorizeView>
        </ul>


        <!-- right side nav -->
        <ul class="nav-list align-items-center">
            <li class="nav-item">
                <NavLink href="@AppRoutes.Account.Profile"
                         class="nav-link profile-link d-inline-flex align-items-center px-2">
                    <img src="Images/profile.webp" class="profile-icon" alt="Profile" />
                    <span class="profile-text ms-1">Profile</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <button class="nav-link profile-link d-inline-flex align-items-center px-2" @onclick="Logout">
                    <span class="profile-text">Logout</span>
                </button>
            </li>
        </ul>
    </div>
</nav>


@code {
    private async Task Logout()
    {
        // Verwijder JWT, update auth‑state en ga naar login
        await TokenStore.SaveTokenAsync(null);
        (AuthProvider as ActionCommandGame.BlazorApp.Security.TokenAuthenticationStateProvider)
            ?.AuthenticateUser();
        Nav.NavigateTo(AppRoutes.Account.SignIn);
    }
}